body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

.App {
  text-align: center;
}

.MuiBottomNavigation-root {
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
}

.MuiBottomNavigationAction-root {
  color: #888;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #1976d2;
}